<div class="collaborators-intro-card">
  <div class="card-header">
    <!-- Icono -->
    <i class="fa-solid fa-users"></i>
    <!-- Título -->
    <h3 class="card-title">Colaboradores</h3>
  </div>

  <div class="card-content">
    <ul class="intro-list">
      <li>Añada colaboradores a su equipo</li>
      <li>Resuelva las vulnerabilidades más fácil.</li>
      <li>No hay un máximo de colaboradores.</li>
    </ul>
  </div>

  <div class="card-footer">
    <a href="#" class="add-collaborator-link">- Añadir un colaborador.</a> <!-- Use routerLink later -->
  </div>
</div>