<div class="analysis-progress-content">
  <p class="analysis-description">
    <b>El dominio mercadolibre.com esta siendo analizado.</b>
    Los issues y posibles amenazas localizados se verán en el panel y seran
    comunicadas por email. Por favor espere aqui o continue hacia nuestro
    dashboard.
  </p>

  <div class="spinner-container">
    <div class="spinner-circle">
    </div>
    <div class="spinner-percentage">
      29%
    </div>
  </div>
  <div class="findings-summary">
    <div class="finding-count">
      <div class="count-number">26</div>
      <div class="count-label-total">TOTAL FINDINGS</div>
    </div>
    <div class="finding-count">
      <div class="count-number-analizing">12<b>/26</b></div>
      <div class="count-label-analizing">ANALIZING FINDINGS</div>
    </div>
  </div>

  <div class="analysis-details">
    <div class="detail-row">
      <h4>Fase Actual:</h4>
      <span>1/2 detección activa</span>
    </div>
    <div class="detail-row">
      <h4>Dominio:</h4>
      <span>www.mercadolibre.com</span>
    </div>
    <div class="detail-row">
      <h4>Tiempo promedio estimado:</h4>
      <span>5'32"</span>
    </div>
  </div>
</div>
